<footer class="footer-bg">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p class="mb-0">&copy; {{ "2025" }} fox9.de. All rights reserved.</p>
                <p class="small mb-0">This site is not intended for public consumption.</p>
            </div>
        </div>
    </div>
</footer>